* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    padding: 10px;
    background: #faa871;
    text-align: center;
}
/* header/blog Title */
.header {
    padding: 10px;
    text-align: center;
    background: #70abee;
    color: rgb(230, 23, 23);
}

.header h1 {
    font-size: 40px;
}

.header p {
    font-size: 20px;
}
/* style the top navigation bar*/
.topnav {
    overflow: hidden;
    background-color: blanchedalmond;
}
/* Định dạng link điều hướng */
.topnav a {
    float: left;
    display: block;
    color: rgb(245, 103, 9);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Thay đổi màu liên kết khi di chuột qua */
.topnav a:hover {
    background-color: crimson;
    color:darkgray;
}
.form-group {
    margin: 10px 0;
    font-family: 'Montserrat';
}

.form-control {
    width: 50%;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
    font-family: 'Montserrat';
}

.form-group label {
    font-family: 'Montserrat';
}

.form-control:focus {
    background-color: rgb(176, 223, 204);
    box-shadow: 0 0 3px rgb(102, 107, 72);
    border: 1px solid rgb(163, 207, 182);
    font-family: 'Montserrat';
}

/*footer */
.footer {
    padding: 10px;
    text-align: center;
    background: blanchedalmond;
    margin-top: 10px;
    bottom : 0;
    animation: scrolling 2s line infinite;
}